body{
    background: black;
}

header{
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    user-select: none;
    h1{
        cursor: pointer;
        font-family: "phasmo";
        font-display: "sans-serif";
        font-weight: 100;
        font-size: 110px;
        color: white;
    }
}
nav{
    background-color: #242424;
    border-top: 1px solid var(--vertfluo);
    border-bottom: 1px solid var(--vertfluo);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        list-style-type: none;
        left: 0px;
    }
    li{
        padding-left: 50px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 0px;
    }
    .active{
        color: #111;
        background: var(--vertfluo);
        box-shadow: 0 0 50px var(--vertfluo);
    }
    a{
        user-select: none;
        font-family: "pfd";
        font-style: italic;
        font-size: 18px;
        text-decoration: none;
        color: white;
        transition: 0.1s;
        overflow: hidden;
        position: relative;
        padding: 10px 30px;
        margin: 0 9px;
        -webkit-box-reflect: below 1px linear-gradient(transparent);
       
    &:hover::before{
        width: 100%;
        height: 100%;
        transition-delay: 0.1s;
    }   
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        border-top: 2px solid var(--vertfluo);
        border-left: 2px solid var(--vertfluo);
        transition: 0.1s;
        transition-delay: 0.1s;
    }   
    &:hover:after{
        width: 100%;
        height: 100%;
        transition-delay: 0.1s;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid var(--vertfluo);
        border-right: 2px solid var(--vertfluo);
        transition: 0.1s;
        transition-delay: 0.1s;
    }
    &:hover{
        color: #111;
        background: var(--vertfluo);
        box-shadow: 0 0 50px var(--vertfluo);
        transition-delay: 0.3s;
    }
}
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000005e;
        color: white;
        height: 45px;
        padding: 15px;
        margin-right: 50px;
        border: none;
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            color: #111;
            background: var(--vertfluo);
            box-shadow: 0 0 50px var(--vertfluo);
            transition: 0.3s;
        }
        p{
            user-select: none;
            font-family: "phasmo";
            font-size: 24px;
            font-weight: 100;
        }
    }
}
@media screen and (max-width: 1265px) {
    nav{
        height: 75px;
        justify-content: center;
        flex-direction: column;
        ul{
            display: none;
            flex-direction: column;
            padding: 0;
            li{
                display: flex;
                justify-content: center;
                padding-left: 0;
                padding-bottom: 50px;
                &:first-child{
                    padding-top: 15px;
                }
            }
        }
        button{
            display: none;
            margin: 0;
        }
    }
}
@media screen and (max-width: 575px) {
    header{
        h1{
            font-size: 58px;
        }
    }
}