body {
  background-color: black;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
header h1 {
  cursor: pointer;
  font-family: "phasmo";
  font-display: "sans-serif";
  font-weight: 100;
  font-size: 110px;
  color: white;
}

nav {
  background-color: #242424;
  border-top: 1px solid var(--vertfluo);
  border-bottom: 1px solid var(--vertfluo);
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav li {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 0px;
  overflow: hidden;
}
nav .active {
  color: #111;
  background: var(--vertfluo);
  box-shadow: 0 0 50px var(--vertfluo);
}
nav a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "pfd";
  font-style: italic;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.1s;
  position: relative;
  padding: 10px 30px;
  margin: 0 9px;
  -webkit-box-reflect: below 1px linear-gradient(transparent);
}
nav a:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0.1s;
}
nav a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid var(--vertfluo);
  border-left: 2px solid var(--vertfluo);
  transition: 0.1s;
  transition-delay: 0.1s;
}
nav a:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0.1s;
}
nav a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--vertfluo);
  border-right: 2px solid var(--vertfluo);
  transition: 0.1s;
  transition-delay: 0.1s;
}
nav a:hover {
  color: #111;
  background: var(--vertfluo);
  box-shadow: 0 0 50px var(--vertfluo);
  transition-delay: 0.3s;
}
nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.368627451);
  color: white;
  height: 45px;
  padding: 15px;
  margin-right: 50px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
nav button:hover {
  color: #111;
  background: var(--vertfluo);
  box-shadow: 0 0 50px var(--vertfluo);
  transition: 0.3s;
}
nav button p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "phasmo";
  font-size: 24px;
  font-weight: 100;
}

#burger-menu {
  display: none;
}

@media screen and (max-width: 1265px) {
  nav {
    height: 75px;
    justify-content: center;
    flex-direction: column;
  }
  nav ul {
    display: none;
    flex-direction: column;
    padding: 0;
  }
  nav ul li {
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-bottom: 50px;
  }
  nav ul li:first-child {
    padding-top: 15px;
  }
  nav button {
    display: none;
    margin: 0;
  }
  #burger-menu {
    margin-right: 25px;
    display: flex;
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 50px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #fff;
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    font-size: 58px;
  }
}/*# sourceMappingURL=index.css.map */